.azul{
    background-color: rgb(8, 130, 179);
    width: 200px;
    height: 200px;
    margin: 10px 600px;
    border-radius: 20px;
    text-align: center;
    
}
.vermelho{
    background-color: rgb(224, 26, 53);
    width: 200px;
    height: 200px;
    margin: 10px 400px;
    border-radius: 20px;
    text-align: center;
    
}
.amarelo{
    background-color: rgb(235, 250, 24);
    width: 200px;
    height: 200px;
    margin: 10px 200px;
    border-radius: 20px;
    text-align: center;
    
}
body {
    background-color: rgb(240, 174, 231);
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
  }
  input{
      border-color: honeydew;
      border-style: solid;
      border-radius: 10px 5pxs;
      border-width: 5px;
  }